{
  "Get-AzComputeFleetOperation+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.AzureFleet/operations?api-version=2024-11-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureFleet/operations?api-version=2024-11-01",
      "Content": null,
      "Headers": {
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 401,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ],
        "WWW-Authenticate": [ "Bearer authorization_uri=\"https://login.windows.net/\", error=\"invalid_token\", error_description=\"The authentication failed because of missing \u0027Authorization\u0027 header.\"" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"AuthenticationFailed\",\"message\":\"Authentication failed. The \u0027Authorization\u0027 header is missing.\"}}",
    }
  }
}